<div class="login-page" *ngIf="open">

    <mat-card class="login-card">
      <mat-card-header>
        <div mat-card-avatar class="login-logo"></div>
        <mat-card-title class="login-header">Aspose.PDF Exporter for GitHub </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
        <p>
          1. Export single or multiple issues to PDF <br>
          2. Search issues by repositories, milstones, state, label, since
        </p>
        <button mat-raised-button (click)="login()" color="primary" class="button-login">
            <mat-icon svgIcon="github" class="icon-github"></mat-icon>
            Sign in with GitHub 
        </button>
      </mat-card-content>
  
        
    </mat-card>
  
  </div>