.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-card {
    width: 90%;
    max-width: 400px;
    margin: 0 auto 150px;
}

.login-logo {
    background-image: url('/assets/images/aspose-logo.svg');
    background-size: cover;
    margin-bottom: 16px;
}

.login-header {
    height: calc(100% - 16px);
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.icon-github {
    margin-right: 8px;
}

.button-login {
    margin-top: 8px;
}